<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Clinic WebApp</title>
  <link rel="stylesheet" href="../styles/form.css">
</head>
<body>
  <a href="javascript:history.back()" class="back-button">← Back</a>
  <nav>
    <h3>Delete Patient</h3>
    <input id="deleteId" placeholder="Patient ID">
    <button onclick="deletePatient()">Delete</button>
  </nav>

  <script>
    const baseURL = "https://clinic-portal-tfct.onrender.com";
    const token = localStorage.getItem("token") || "";
    const role = localStorage.getItem("Role") || "";

    function deletePatient() {
      const id = document.getElementById("deleteId").value;
      fetch(`${baseURL}/${role}/patients/${id}`, {
        method: "DELETE",
        headers: { 'Authorization': token }
      }).then(res => res.json()).then(data => {
            if(data.error) alert("Patient details not found with the ID");
            else{
                alert("Patient deleted.");
                document.getElementById("deleteId").value="";
            }
        }
    );
    }   
  </script>
</body>
</html>
